body {
    background-color: rgb(197, 1, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:seashell;

}

header h1, h2 {
    display: flex;
    justify-content: center;
    background-color: rgb(182, 214, 40);
}
