#header {
    text-align: center;
    background-color: teal;
    color: red;
    padding: 10px;
    width: 100%;
}

#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  

}